---
import '../styles/global.css'
---

<section class="relative w-full h-screen overflow-hidden bg-black">
  
  <img 
    class="absolute inset-0 w-full h-full object-cover"
    src="/public/assets/Frontal_Ambar.jpeg" 
    alt="Portada de Ambar"
  >

  <div 
    id="fade-overlay"
    class="absolute inset-0 bg-black opacity-60 transition-opacity duration-300"
  ></div>

</section>